.section-contact,
.section-location,
.section-politics,
.section-terms {
  h1 {
    text-align: center;
    color: #f44b03;
  }

  @media (max-width: 767px) {
    h1 {
      font-size: 1.5rem;
    }
    p{
      text-align: justify;
    }
  }
}
