.table-product-admin {
  td {
    .ui.image {
      width: 112px;
      height: 80px;
    }
    &.status {
      .icon {
        &.close {
          color: red;
        }
        &.check {
          color: green;
        }
      }
    }
  }
}
