.errorPage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #888;
  height: 60vh;

  h1,
  h2 {
    margin: 0;
  }

  h1 {
    font-size: 60px;
  }
}
